.head{
    position: fixed;
    top: 150px;        
    left: 680px;  
	
}


.formbody2{
    position: fixed;
    padding: 15px 32px;
    text-align: center;
    top: 200px;        
    left: 650px;  
	
}
