.head{
    position: fixed;
    top: 150px;        
    left: 640px;  
	
}


.formbody{
    display: flex;
    position: fixed;
    width: 25%; height: 25%;
    padding: 30px;
	border-style: solid;
    
    top: 200px;        
    left: 500px;  
}


.displayreg{
    
	position: fixed;
    top: 550px;        
    left: 450px;  
}